<section class="contact-image">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center top-content">
				<h1>Contact Page!</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 content ">
				<h3>Why don't you drop me an email?</h3>
				<ul class="icon-list">
					<%= image_tag("facebook.png", class: 'icons') %>
					<p>Like me on Facebook!</p>
					<%= image_tag("link.png", class: 'icons') %>
					<p>Check out my Link</p>
					<%= image_tag("github.png", class: 'github') %>
					<p>Have a look at some of my work!</p>
				</ul>
			</div>
			<div class="col-md-6 content">
				<form>
					<label for="name">Your Name</label>
					<br>
					<input id="name" type="text" placeholder="Your name here." title="Name." class="form-control">
					<br>

					<label for="number">Phone Number</label>
					<br>
					<input id="number" type="tel" placeholder="Your number here." title="Your number." class="form-control">
					<br>
					<label for="email">Email</label>
					<br>
					<input id="email" type="email" placeholder="Your email here." required="requierd" title="Your Email." class="form-control">
					<br>
					<label for="message-box">Enter a messaage to send</label>
					<textarea placeholder="Your message here." id="message-box" class="form-control" style="resize:none" cols="60" row="5" required="requierd"></textarea>
					<br>
					<p id="visable-comment"></p>
					<br>
					<button type="submit" id="submit" class=" btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>
