 <section class="first-image">
    	<div class="container">
    		<div class="row">
                <div class="col-md-12 front-text">
                    <div class="text-index">
                	<h1 class="text-center">Andrew Taylor Web Developer</h1>
                	<p class="text-center"><%= Time.now %></p>
                    </div>
                </div>
    		</div>
    	</div>
</section>
