<section class="me-background">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <%= image_tag("me.jpg", id: 'my-photo') %>
      </div>
      <div class="col-md-6" id="about-me-text">
        <h1>A little about me</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
      </div>
    </div>
  </div>
</section>