// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color:blue;
	font-family:cursive;
}

h1, h2 {
    font-family: 'Cinzel', serif;
    color:white;
    font-weight:700;
    font-size:3.5em;
}

p {
    font-family: 'Rokkitt', serif;
    font-size: 1.6em;
    color:white;
}


/*Navigation*/

.navbar-default {
    background-color: #19A3FF;
    padding: 15px;
    border-bottom: 1px solid black;
}

#nav-color a {
    color: white;
    font-size: 1.2em;
}

.nav a {
    margin-left: 10px;
    margin-right: 10px;
}

#nav-color a:hover {
    color: black;
    text-decoration: none;
}

.active a {
    background-color: black!important;
    border-radius: 10%;
}

//backgrounds
.first-image {
    background: linear-gradient(#fff, transparent 10%),  linear-gradient(180deg, #fff, transparent),  #ffa949 url('home-office-336581_1280.jpg') no-repeat center;
    background-size:cover;
    background-repeat: no-repeat;
    height:1000px;
}
.contact-image {
    background-image: url(mac-book.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:1000px;
}
.portfolio-background {
    background-color:#ffd;
    height: 100%;
}


.rails {
    margin-right:auto;
    margin-left:auto;
}

//Layout for the front text ///

.front-text{
    margin-top:60%;
    color:black;
}


/////Index Page ////////
.text-index h1 {
    color: #000000;

}




/////Portfolio/////
.portfolio-item{
    padding-bottom:20px;
}

.img-responsive{
    margin:0 auto;
}

.portfolio-container{
    background-color:blue;
    border-radius:20px;
}




//Contact me page///////////////////////
li .icons, .icon-text {
    display: inline;
}

ul{
    padding:0;
}

li{
    list-style-type: none;
}
.top-content{
    margin-top:10%;
}
.content{
    margin-top:5%;
}

.icons{
    width:10%;
    border-radius: 40%;
}

.github{
    width:10%;
}

label{
    font-weight:800;
    font-size:1.5em;
}
.contact-subheading{
    margin-bottom:40px;
}


/////about me page/////
.me-background{
    background-color: #06A77D;
    height:1000px;
}

#my-photo{
    border-radius:90%;
    width:40%;
    margin-top:50%;
}

#about-me-text{
    text-align:center;
    margin-top:20%;
}